@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    ;
}

.logokadesign {
    width: 100%;
    height: auto;
}

.productfoto {
    width: 100%;
    height: auto;
    margin-top: 16px;
}

.naaritem {
    color: black;
    text-decoration: none;
}

.naaritem:hover {
    color: black;
}

.braceletitem:hover {
    border: 1px solid #000;
